
button {
    border-radius: .6rem;
    border: none;
    background-color: var(--color-primary-light);
    text-transform: uppercase;
    color: var(--color-text);
    font-weight: bold;
}

.button-primary {
    
}

.button-product {
   padding: 0.8rem;
   font-size: 0.8rem
}