
button {
    border-radius: .6rem;
    border: none;
    background-color: var(--color-primary-light);
    text-transform: uppercase;
    color: var(--color-text);
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
}

.button-primary {
    
}

.button-product {
   padding: 0.8rem;
   font-size: 0.8rem
}

.button-count {
    background-color: #fff;
    padding: 0;
    background-color: transparent;
  }