.home {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.home section {
  width: 95%;
  margin: 0 auto;
  max-width: 81rem;
  margin-bottom: 6rem;
}

.home h2 {
  margin: 1.25rem 0;
  font-size: 2rem;
}

.home-products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-bottom: 5rem;
}

.home-error {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 15rem;
}

@media (max-width: 900px) {
  .home-products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .home-products {
    width: 85%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
}
