.page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    background-color: var(--color-primary);
}

.page-header .top-bar-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
}

.page-header .top-bar-container .title-container {
    color: var(--color-text);
    font: 700 1.2rem "roboto";
}

.page-header .top-bar-container .options-container{
    display: none;
}

.page-header .top-bar-container a > img {
    height: 2.6rem;
}

.menu-toggle {
    position: relative;
}

.menu-toggle .options-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    box-shadow: 0 0 8px var(--color-primary-dark);
    background-color: var(--color-primary);
    width: 100%;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.menu-toggle .options-container a{
    margin: 0 3rem;
    text-decoration: none;
    font: 1.2rem "roboto";
    color: var(--color-text);
}

.menu-toggle.open-menu .options-container{
    position: relative;
    visibility: visible;
    transform: translateX(0rem);
}