.page-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    background-color: var(--color-primary);
}

.page-header .top-bar-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
}

.page-header .top-bar-container .title-container {
    color: var(--color-text);
    font: 700 1.2rem "roboto";
}

.page-header .top-bar-container .options-container{
    display: none;
}

.page-header .top-bar-container a > img {
    height: 2.6rem;
}

.menu-toggle {
    transition: all .5s ease-in-out;
}

.menu-toggle .options-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 2rem;
}

.menu-toggle .options-container a{
    text-decoration: none;
    font: 1rem "roboto";
    color: var(--color-text);
    margin: 0 5px;
}